.cp-page-container {
  height: 100%;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-size: 10px;
}

/* General  */

.top-padding {
  padding: 20px 0 0 0;
}

/* The Header */

.cp-header-container {
}

.cp-header {
  width: 100%;
  font-size: 2.5rem;
  font-weight: 900;
}
.cp-sub-header {
  width: 100%;
  font-size: 1rem;
  padding: 5px;
  letter-spacing: 1px;
  color: #a1a1a1;
  text-decoration: underline;
}

/* The Goal */

.cp-content-goal-container {
  width: 50%;
}

.cp-section-header {
  font-size: 1.2rem;
  font-weight: 900;
}
.cp-section-statement {
  font-size: 1rem;
  padding: 5px;
}

/* The Plan  */

.cp-content-planning-container {
  width: 50%;
}
.cp-content-planning-header {
  font-size: 1.2rem;
  font-weight: 900;
}
.cp-content-planning-statement {
  font-size: 1rem;
  padding: 5px;
}

.cp-content-planning-image-wrapper {
  display: flex;
  flex-direction: row;
}

.cp-content-planning-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cp-content-planning-image-text {
  font-size: 0.8rem;
  padding: 5px 5px 10px 5px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* My contribution */

.cp-content-my-contribution-container {
  /* width: 50%; */
}

.cp-content-my-contribution-wrapper {
  display: flex;
  flex-direction: column;
}
.cp-content-my-contribution-sever {
}
.cp-content-my-contribution-file-system {
}
