.view3-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  justify-content: start;
  align-items: start;
}
.section-header {
  align-self: start;
  justify-self: start;
  font-size: 20px;
}
.flex-direction-column {
  display: flex;
  flex-direction: column;
}

/* .center {
    justify-self: center;
    align-self: center;
  } */

.section-content {
  align-self: start;
  justify-self: start;
  font-size: 15px;
  margin: 10px;
}

.header-description-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 50%;
  margin: 15px;
}

.bio-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 15px;
}
.education-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 15px;
}

.experience-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 15px;
}

.link-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 50%;
  margin: 15px;
}

.links {
  margin: 10px;
}
